/*
Author: Justin Thompson
Date: 09/24/2025
File Name: style2.css
*/


/* CSS Reset */
body, main, table {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Style rules for body */

body{
  background-color: #ffffff;
}


/* Style rules for table */
table{
	width: 50%;
	margin: 0 auto;
	border: 2px solid #363636;
}

table,tr,th,td{
	border-collapse: collapse;
  padding: 1%;
	
}

caption{
	font-size: 1.5em;
  font-weight: bold;
	padding: 2%;
	margin-top: 2%;
}

/* Style rules for table children */

.white{
  background-color: #ffffff;
}
th , td{
	border: 2px solid #363636;
  text-align: left;

}

tbody td:last-child  , tbody tr:last-child th  {
  text-align: right;
}

tr:last-child{
  font-weight: bold;

}
tbody tr:nth-child(even) ,thead{
	background-color: #ffff00;
}
