/* CSS Reset */

body, header ,nav , main, footer{
  margin: 0%;
  padding: 0%;
  border: none;
}


/* Global Styles */

/* Body style rules */
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Image style rules */
img{
  max-width: 100%;
  display: block;
}

.heroimage{
  padding: 0%;
}
/* Header Styles */

header{
  background-color: #0a2342;
  color: white;
  padding: 2%;
 padding-bottom: 4%;

}

 header h1{

  text-align: center;
  font-size: 2em;

} 

nav ul{
  list-style-type: none;
  margin: 0;
  text-align: center;
}
nav li{
  display: inline-block;
  font-size: 2em;
}

nav li a{
  text-decoration: none;
  display: block;
  padding: 0.5em 2em;
  color: white;
}
/* Main content styles */

main{
  color: #551310;
  
}

main p{
  padding: 1% 2% 0% 2%;
}

.center{
   text-align: center;
   padding: 1% 0%;
}
/* #hero{
  background-image: url(../images/heroimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */


/* About Style Rules */
#about p{
  padding: 0% 2% 1% 1%;
  margin-top: 0;
  width: 35%;
  float: right;
}
#about img{
  float: left;
  width: 55%;
}

#about a{
  text-decoration: none;
  color: #ea4f5a;
  font-style: italic;
  font-weight: bold;
}

/* Menu-Preview Style Rules */
#menu-preview
{
  clear: both;
  
}

.menu-item{
  border: solid 4px #cd7930;
  border-radius: 15px;
  margin: 1%;
  padding: 1%;
}

/* Location Style Rules */
#map{
  border: 5px solid #5e9597;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  display: block;
}

/* Footer Styles */

footer{
  background-color: #2d170e;
  padding: 3%;
  text-align: center;
  color: azure;
}

