


/* Style rules for image */
img{
  max-width: 100;
  height: auto;
  display: block;
 
}

/* Multiple class selector  */
main, nav , footer{
  font-family: "Comic Neue", cursive;
  font-weight: 550; 
  font-style: normal;
 
;
}
/* Style rules for mobile viewport */

.tab-desk{
  display: none;
}

/* Style rules for body */
body{
   background-color: #b9b7d4;

}

/* Style rules for header */

header{
 font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

header h1{
  font-size: 80px;
  color: #8c009c;
  padding: 3%;
}

header img{
  display: inline-block;
  padding: 1% 2%;
  margin: auto 2%;
}

/* Style rules for nav */
nav{
  padding: 2% 1%;
  background-color: #c31c41;
}


nav ul{
  list-style: none;
  margin: 0;
  text-align: center; 
}

nav li{
  font-size: 1.85em;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
}

nav li a{
   display: block;
   text-decoration: none;
   padding: 1em 3em;
   color: #9052DA;
 

}

/* Style rules for main */

main{
  padding: 2%;
  color:#4A0084;
  overflow: auto;
}

main h2{
  text-align: center;
  color: #33042D ;
 
}

main p{
  font-size: 1.5em;
}

main ul{
  list-style-type: none;
  padding-left: 0%;
 
}

main li p{
  font-style: italic;
  font-weight: bold;
  color: #250E42;
}

/* Style rules for footer */

footer{

  text-align: center;
  background-color: #5E060F;
  color: #FBBCC2;
  padding: 1.5%;

}

/* Style rules for Classes */

a:hover{
  color: #AD86D5;
  text-shadow: 4px 2px 4px; 
}

.floatforimgs{
  width: 45%;
  float: left;
  padding: 1%;
  
 
}
 

.floatforp{
  
  width: 45%; 
  float: right; 

 
}

