/* Make transparent Carousel */
.img-transparent {

   opacity: 0.6; 
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Media breakpoints for responsive-text */
@media screen and (max-width: 576px) {
    
    .my-responsive-text {
    font-size: 1.2em;
     }
    
}

@media screen and (min-width: 768px) {
    .my-responsive-text {
    font-size: 1.4em;
  }
    
}

@media screen and (min-width: 1200px) {
    .my-responsive-text {
    font-size: 1.6em;
  }
    
}

