/* 
  Student Name: Justin Thompson
  File name: styles.css
  Current Date: 09/09/2025
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3{
  margin: 0;
  padding: 0;
  border: 0;

}



/* Style rules for Mobile */


/*Hide tab-desk*/
.tab-desk{
  display: none;
}

/* Style rules for mobile nav */

/* Style rules for mobile classes */
.centerimgformobile{
   border: 5px solid #6f28b4;
   width: 80%;  
   border-radius: 15px; 
}




/* Style rules for body and images */
html, body{
  background-color: #34c230;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

img{
  max-width: 50%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto; 
  border-radius: 20px; 
}
/* Style rules for header*/
header{
  color: black;
  text-align: center;
  padding: 1% 2% 3%;
}

header h3{
  padding-bottom: 3%;
}

/* Style rules for navigation area */
nav{

background-color: #6f28b4;
}

nav ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0%;
}


nav li{
  display: block;
  font-size: 1.25em;
  font-family: 'Times New Roman', Times, serif;
  border-top: 1px solid #f6eee4;
    
}
nav li:first-child{
  border-top: none;
}

nav li a{
  color: #f6eee4;
  padding: 0.5em 1em;
  text-decoration: none;  
  display: block;
   

}

/* Style rules for main content */
main{
  padding: 2%;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  flex: 1;
}

main p{
  font-size: 1.12em; 
}

main h3{
  
  padding-bottom: 2%;
}

main ul{
   list-style-type: none;
}

.link{
  color:#f6eee4;
  text-decoration: none;
  font-style: italic; 
  font-weight: bold;
}

.tel-link{
  background-color: #6f28b4;
  border-radius: 10px;
  padding: 2%;
  margin: auto;
  width: 70%;
}

.tel-link a{
  color: #f6eee4;
  font-size: .85em;
  padding-top: 2%;
  text-decoration: none;
  display: block;
  font-weight: 300;
}
.center{
  text-align: center;
} 

.center ul{
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
}

.gamertext{
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
  font-style: normal;
  font-size: 0.85em;
}

#projects > ul >li{
  display: block;
  padding: 0.3em 0em;
 
}



/* Style rules for footer content */
footer{
  font-size: 0.85em;
  background-color: #1a4363;
  text-align: center;
  padding: 1% 0%; 
  
}


/* Media Query for Tablet Viewport */

@media screen and (min-width: 620px) {
  
  /* Tablet Viewport: Show tab-desk class, hide mobile class */
  .tab-desk{
    display: block;
  }

  .mobile{
    display: none;
  }

  /* Tablet Style rules for header */
  header{
    font-size: 1.5em;
  }

  /* Tablet Nav Area Style rules  */
  nav li{
    border-top: none;
    display: inline-block;
    font-size: 2em;
  }

  nav li a{
    padding: 0.5em;
  }

  /* Tablet Style rules for main */
  main {
    font-size: 1.5em;
  }

}

/* Media Query for Desktop Viewport */

@media screen and (min-width: 1000px) {

  /*Desktop Style rules for nav*/

  nav li a{
    padding: 1.5em 1em;
  }

  nav li a:hover{
    color: #c32bee;
    text-shadow: 2px 1px 2px #c32bee;
  }

  
}

